<div class="d-flex justify-content-center" *ngIf="formGroup">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <input formControlName="username" class="form-control mt-2" placeholder="Username" name="username">
      <input formControlName="password" class="form-control mt-2" type="password" placeholder="Password" name="password">
      <button type="submit" class="btn btn-info mt-2">Submit</button>
    </form>
  </div>
</div>
