<ng-container>
  <div class="selected-user">
    <span>To: <span class="name">{{ selectedConversation.participants[0].username }}</span></span>
  </div>
  <div class="chat-container">
    <ul class="chat-box chatContainerScroll" #scrollContainer>
      <app-chat-message
        *ngFor="let message of selectedConversation.messages"
        [message]="message"
        [user]="getUser(message)"
        [currentUser]="currentUser"
      ></app-chat-message>
      <div #lastMessageAnchor></div>
    </ul>
    <form class="input-group mt-3 mb-0" (submit)="onPostMessage()">
      <input [(ngModel)]="newMessage" class="form-control" rows="3" placeholder="Type your message here..."
             name="message">
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</ng-container>
